:root {
    --black-color: rgba(58, 58, 58, 1);
    --white-color: rgba(255, 255, 255, 1);
    --normal-fonts: 14px;
    --primary-fonts: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* *Sheared Style */

.max_width {
    max-width: 1440px;
    margin: 0 auto;
}

.flex_item {
    display: flex;
    justify-content: space-between;
}

.primary_text {
    font-weight: 600;
    color: var(--black-color);
    font-size: var(--primary-fonts);
    line-height: 24px;
    margin-bottom: 16px;
}

.btn {
    font-size: var(--primary-fonts);
    color: var(--white-color);
    background: rgba(224, 44, 109, 1);
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    outline: none;
    border-radius: 41px;
    cursor: pointer;
}

.btn:hover{
    
}

.sub_title{
    color: var(--black-color);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 6px;
}

/* *Main Style */

.navbar {
    padding: 50px 0px;
}

.navbar_left h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--black-color);
}

.navbar_right {
    display: flex;
    gap: 34px;
}

.navbar_right a {
    font-size: 16px;
    color: var(--black-color);
    font-weight: 600;
    text-decoration: none;
    line-height: 24px;
    cursor: pointer;
}

/* *Hero Section */
.hero_container {
    align-items: center;
}

.hero_content {
    max-width: 582px;
}

.hero_content h1 {
    font-size: 52px;
    color: var(--black-color);
    font-weight: 700;
    margin-bottom: 16px;
}

.hero_image {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #933bff46;
    border-radius: 50%;
    z-index: 1;
}

.hero_image img {
    position: relative;
    z-index: 2;
    width: 540px;
    border: 1px solid #933bff46;
    border-radius: 50%;
    padding: 10px;
}

/* *Company logos */
.company_logo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
    margin: 20px auto;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.company_logo img {
    max-width: 84px;
    height: auto;
    margin: 0 auto;
}

hr {
    background: linear-gradient(
        135.29deg,
        rgba(192, 204, 218, 0.1),
        rgba(192, 204, 218, 0.6) 50%,
        rgba(192, 204, 218, 0.1) 100%
    );
}

.items{
    margin-top:100px;
}

.items .item_header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.item_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 30px;
}

.item_box{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
}

.item_box img{
    width: 100%;
}

.item_box h2{
    margin-top: 16px;
    margin-bottom: 6px;
}

.item_box h3{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px ;
}

.star{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.star i{
    color: rgb(240, 176, 13);
}

.star p{
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}

.see_button{
    display:flex;
    align-items: center;
    gap: 10px;
    color: rgba(224, 44, 109, 0.87);
    justify-content: right;
    margin: 50px 0;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}



@media screen and (max-width: 992px) {
    .navbar {
        padding: 10px;
    }

    .hero_container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
        justify-items: center;
        place-items: center;
    }

    .hero_content h1 {
        font-size: 40px;
    }

    #company,.items{
        padding: 0 10px;
    }
}


@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navbar_left h2 {
        font-size: 40px;
    }

    .navbar_right {
        gap: 15px;
    }
    .hero_image {
        width: 100%;
        height: 400px;
    }

    .hero_container {
        padding: 10px;
    }

    .circle {
        position: absolute;
        width: 250px;
        height: 250px;
    }

    .hero_image img {
        width: 360px;
    }
}

.hide {
    display: none !important;
}
